<HTML>
<head>
</head>
<body>
<form method="POST" action="ajoutReclamation.php">
<table>
<caption>Ajouter Reclamation</caption>
<tr>
<td>id client</td>
<td><input type="number" name="id_client"></td>
</tr>
<tr>
<td>pseudo</td>
<td><input type="text" name="pseudo"></td>
</tr>
<tr>
<td>sujet</td>
<td><input type="text" name="sujet"></td>
</tr>
<tr>
<td>Description</td>
<td><input type="text" name="description"></td>
</tr>
<td></td>
<td><input type="submit" name="ajouter" value="ajouter"></td>
</tr>
</table>
</form>
</body>
</HTMl>